@maincolor:rgb(77, 105, 182);
body{
    padding: 0;
    margin:0;
}
#nav{
    position: fixed;
    height: 100%;
    width:200px;
    left:0;
    top:0;
    background: darken(@maincolor,35);
}
#main{
    margin-left:200px;
    padding-top:50px;
    #topbar{
        position: fixed;
        left:200px;
        top:0;
        right:0;
        height:50px;
        background: #fefefe;
        box-shadow: 0 0  5px rgba(0,0,0,0.4);
    }
}